include variables.pug

doctype
html(lang=config.language)
  head
    include head.pug
  body
    .root
      include nav.pug

      main
        include ../mixins/contenido.pug
        block mainContent
      a.to-top(href="#")
        i.fas.fa-chevron-up
      include suscription.pug
      include footer.pug

    include scripts.pug
