doctype
html(lang=config.language)
    head
        include head.pug
    body
        header
            include nav.pug
        block aditional-info

        main.container
            block container
        footer
            block pagination
            include copyright.pug
    include scripts.pug
