.container-fluid.py-5.suscription
  h4.suscription-title Suscríbete a Nuestro Boletín

  form#suscription-form(method='post' action='https://app.mdirector.com/form-subscribe' target='suscription-iframe').suscription-form
    //- Input
    input#email(type='email' name='EMAIL' placeholder='Ingresa tu correo' maxlength='250' minlength='7' required).form-control.suscription-input
    button#send(type='submit' disabled).btn.suscription-button Enviar

    //- Hidden Inputs
    input#empId(type='hidden' name='empId' value='31102')
    input#formId(type='hidden' name='formId' value='3')
    input#lang(type='hidden' name='lang' value='es')
    input#privacy(type='checkbox' name='privacy' required checked hidden)

    //- Recaptcha Validator
    #recaptcha.g-recaptcha(data-sitekey='6LdxmykUAAAAAF0_XFEblaWjhI98m_H2MTo_AfEP' data-callback='onSubmit' data-size='invisible')

    //- Iframe to render form action
    iframe#suscription-iframe(name='suscription-iframe' frameborder='0' hidden)

  p.suscription-legend: small Te estás suscribiendo para recibir nuestros boletines y novedades sobre productos. Al hacerlo estás aceptando nuestra #[a(href="#") política de privacidad], pero puedes darte de baja en cualquier momento.
  div#suscription-notification.suscription-success
    button#suscription-notification-close(type="button" class="close")
      span(aria-hidden="true") &times;
    div
      h4 Gracias Por Suscribirte
      p En breve recibirás un correo con instrucciones para la activación de tu cuenta.

//- #suscribeModal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
//-   .modal-dialog(role='document')
//-     .modal-content
//-       .modal-header
//-         h5#exampleModalLabel.modal-title.modal-title-footer Complex UD
//-         button.close(type='button', data-dismiss='modal', aria-label='Close')
//-           span(aria-hidden='true') ×
//-       .modal-body
//-         iframe.suscribe-form(src='https://docs.google.com/forms/d/e/1FAIpQLSegaAp6tL8oIdA360l6Jb1hpAuYrhzCaR5mQvrPz4RM4wQY-A/viewform?embedded=true') Cargando…
//-       .modal-footer
//-         button.btn.btn-secondary(type='button', data-dismiss='modal') Cerrar
