.container-fluid.bg-secondary.text-white.py-5
  .row
    .col.text-center
      h5.info-footer SUSCRÍBETE
      p Te enviamos novedades
      button.btn.btn-light(type='button', data-toggle='modal', data-target='#suscribeModal') Enviar

#suscribeModal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h5#exampleModalLabel.modal-title.modal-title-footer Complex UD
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
      .modal-body
        iframe.suscribe-form(src='https://docs.google.com/forms/d/e/1FAIpQLSegaAp6tL8oIdA360l6Jb1hpAuYrhzCaR5mQvrPz4RM4wQY-A/viewform?embedded=true') Cargando…
      .modal-footer
        button.btn.btn-secondary(type='button', data-dismiss='modal') Cerrar
