extends base/layout.pug

block mainContent
  +breadcrumb()
  .container.py-3
    if is_archive()
      h1= 'Archivo'
    if is_home2()
      h1= toCapitalize(page.title.split('/').pop())

    hr
    +post_list()
    +paginator_indexed()
