extends base/layout.pug

block mainContent
  +breadcrumb()
  .container.py-3
    if is_archive()
      h1= 'Archivo'
    if is_home2()
      -let pageTitle = page.title.split('/').pop()
      h1= pageTitle.charAt(0).toUpperCase() + pageTitle.slice(1)

    hr
    +post_list()
    +paginator_indexed()
