extends base/layout.pug
block mainContent
  include partial/info-header.pug
  .container
    include partial/half-panel.pug
    hr
    h3 Posts
    include mixins/post.pug
    +posts()
    hr
    h3 Noticias
    p convocatoria
    hr
    h5 Integrantes
    hr
    include mixins/paginator.pug
    +home()
