// py-5.justify-content-center py-5.justify-content-center py-5.justify-content-center
.illutrations {
    background: $gradiant;
}

.illustrations-foot {
    object-fit: cover;
    width: 100%;
    height: 60px
}

.illustration-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;

    @include media-md {
        text-align: left;
        padding: 60px 0;

        &:nth-child(even) .illustration-info {
            text-align: right;
        }
    }
}

.illustration-info p {
    margin: 1em 0;
}

.btn-sec {
    padding: 10px;
    border-radius: 10px;
    width: 100px;
    margin: 0;

    background-color: $secondary;
    color: $white;

    &:hover {
        background-color: $secondary-dark;
        color: $white;
    }
}

// // Section of Sponsors
.sponsors {
    overflow: auto;
    padding: 1em 0;
    display: flex;
    justify-content: space-between;

    // Custom scrollbars
    scrollbar-color: $primary-dark $primary-lighten;
    scrollbar-width: thin;

    &::-webkit-scrollbar {
        height: 5px;
        background-color: $primary-lighten;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $primary-dark;
        border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: $primary;
    }

}

.sponsor-info {
    padding: 10px 1em;
    flex-shrink: 0;

    img {
        height: 100px;
        filter: grayscale(100%);

        &:hover {
            filter: grayscale(0%);
        }
    }
}