@mixin media-sm {
    @media (min-width: $sm) {
        @content;
    }
}

@mixin media-md {
    @media (min-width: $md) {
        @content;
    }
}

@mixin media-lg {
    @media (min-width: $lg) {
        @content;
    }
}

@mixin media-xl {
    @media (min-width: $xl) {
        @content;
    }
}

@mixin if-landscape {
    @media (orientation: landscape) {
        @content;
    }
}

@mixin if-portrait {
    @media (orientation: portrait) {
        @content;
    }
}

@mixin navbar-transition($properties...) {
    transition-property: $properties;
    transition-duration: 400ms;
}