footer {
  color: snow;
}
.footer-main-container {
  display: flex;
  flex-wrap: wrap;
  place-content: center
}
.suscribe-form {
  width: 30em;
  height:439px;
  margin: unset;
  border: unset;
}
.element-footer {
  margin: 10px 7vw;
  padding: 10px;
}

.shield-footer {
  width: 10em;
}

.social-icon-footer {
  width: 5em;
}

.modal-title-footer{
  color: black;
}
