.info-header {
    position: relative;
    font-family: $font-titles;
}

.info-header-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info-header-content {
    position: relative;
    background: linear-gradient(#000 0%, #0005 30%, #0005 100%);
    color: $white;
    padding: 120px 1em 1em;

    display: flex;
    align-items: center;

    // Mobile Landscape (Aprox)
    @media (max-height: 360px) {
        height: auto;
    }

    height: 100vh;

    // Tablet Landscape (Aprox)
    @include media-md {
        @media (max-height: 450px) {
            height: auto;
        }

        height: 100vh;
    }
}

.info-align-header {
    text-align: center;

    @include media-sm {
        font-size: 1.2rem;
    }

    @include media-md {
        width: 60%;
        text-align: left;
        font-size: 1.6rem;
    }

    @include media-lg {
        font-size: 2.5vw;
    }
}

.info-align-text {
    margin: 1.5em 0;
}

.info-align-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2em;
}

.btns-header {
    display: flex;
    flex-direction: column;

    @include media-sm {
        flex-direction: row;
        justify-content: space-evenly;
    }

    @include media-md {
        justify-content: flex-start;
    }
}

%info-header-btn {
    font-weight: bold;
    text-transform: uppercase;
    padding: 1em;
    margin: 10px 0;
    min-width: 200px;
    border-radius: 10px;

    @include media-md {
        margin-right: 10px;
    }
}

.btn-cta {
    @extend %info-header-btn;

    background-color: $white;
    color: $primary;

    &:hover {
        background-color: $primary;
        color: $white;
    }
}

.btn-ghost {
    @extend %info-header-btn;

    background-color: rgba($primary, .30);
    color: $white;
    border-color: $white;
    border-width: 2px;

    &:hover {
        background-color: $white;
        color: $primary;
    }
}