.suscription {
    padding: 15px;
    background-color: $primary-dark;
}

footer {
    background-color: $primary;
    color: snow;

    a {
        color: #cccccc;

        &:hover {
            color: snow;
        }
    }


    .icons i {
        font-size: 2em;
        margin-left: 15px;
    }

    .logos img {
        display: block;
        width: 100px;
        margin-left: 10px;
    }
}

.footer-main-container {
    display: flex;
    flex-wrap: wrap;
    place-content: center
}

.suscribe-form {
    width: 30em;
    height: 439px;
    margin: unset;
    border: unset;
}

.element-footer {
    margin: 10px 7vw;
    padding: 10px;
}

.shield-footer {
    width: 10em;
}

.social-icon-footer {
    width: 5em;
}

.modal-title-footer {
    color: black;
}