// Navbar Styles
.nav-stylex {
    font-family: $font-titles;
    box-shadow: $shadow;
    background: $white;
}

// Brand Section
.navbar-brand {
    padding: 0;
    display: inline-flex;
    align-items: center;
}

.logo-cx {
    margin-right: 10px;
    height: $brand-height;
    @include navbar-transition(height);
}

.brand-cx {
    color: $primary;
    font-size: $brand-font-size;
    font-weight: bold;

    @include navbar-transition(font-size, color);
}

// Toggler Button
.toggler-cx {
    border-color: $primary;
    color: $primary;
    font-size: $brand-font-size;

    @include navbar-transition(border-color, color, font-size);
}

// Collapse
.dual-collapse2 {
    text-align: center;
    padding-bottom: 1em;

    @include media-lg {
        padding-bottom: 0;
    }
}

// Links
.nav-link {
    font-size: $font-size;
    color: $primary;
    @include navbar-transition(font-size);

    &:hover {
        color: $primary-dark;
        text-decoration: underline;
    }

    &.active {
        font-weight: bold;
    }
}

.dropdown-cx-menu {
    background-color: $primary;
}

.dropdown-cx-item {
    color: $white;

    &:hover {
        color: $primary-dark;
    }

    &.active {
        background-color: $white;
        color: $primary;
    }
}

// Navbar Styles for index
.nav-index {
    box-shadow: $not-shadow;
    background: $navbar-gradiant-index;

    .logo-cx {
        height: $brand-height-index;
    }

    .brand-cx {
        display: none;

        @include media-sm {
            display: block;
            font-size: $brand-font-size-index;
            color: $white;
        }
    }

    .toggler-cx {
        border-color: $white;
        color: $white;
        font-size: $brand-font-size-index;
    }

    .nav-link {
        font-size: 1.125em;
        color: $white;
    }
}