*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;

    // Custom ScrollBar for Firefox
    scrollbar-color: rgba($secondary, 0.8) $primary-light;
}

body {
    margin: 0;
    font: $font-size $font-primary;

    color: $primary;
    background-color: $white;

    // Custom ScrollBar
    &::-webkit-scrollbar {
        width: 12px;
        background-color: $primary;
    }

    &::-webkit-scrollbar:horizontal {
        height: 12px;
    }

    &::-webkit-scrollbar-track {
        border: 1px #787878 solid;
        border-radius: 10px;
        box-shadow: 0 0 6px #c8c8c8 inset;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba($secondary, 0.5);
        border: 1px solid $secondary-dark;
        border-radius: 16px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: rgba($secondary, 0.7);
    }

    &::-webkit-scrollbar-thumb:active {
        background-color: rgba($secondary, 0.9);
    }
}

img {
    // All images fluids
    max-width: 100%;
}

.root {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr;
    // auto          -> navbar
    // 1fr           -> mainContent
    // auto(default) -> others (Footer, ...etc) 
}

.to-top {
    display: none;
    position: fixed;
    bottom: 2em;
    right: 0;
    padding: 10px;
    border-radius: 10px 0 0 10px;
    background-color: rgba($black, 0.6);
    color: $white;

    &:hover {
        background-color: rgba($black, 0.8);
        color: $white;
        font-weight: bold;
    }
}