.suscription {
    background-color: $primary-darken;
    color: $white;
    text-align: center;
}

.suscription-title {
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 1em;
}

.suscription-form {
    position: relative;
    max-width: 600px;
    margin: auto;
    margin-bottom: 1em;
}

.suscription-input {
    padding: 0.7rem 5rem 0.7rem 0.75rem;
    height: auto;

    &:focus {
        border-color: $primary;
        box-shadow: 0 0 0 0.2rem rgba($primary, 0.25);
    }
}

.suscription-button {
    position: absolute;
    top: 0.3em;
    right: 0.3em;
    background-color: $secondary;
    opacity: 0.7;
    color: $white;

    &:hover,
    &:focus {
        color: $white;
        opacity: 1;
    }

    &:active {
        opacity: 1;
        background-color: $secondary-dark;
    }

    &[disabled] {
        background-color: $muted;
        cursor: not-allowed !important;
    }
}

.suscription-legend {
    width: 100%;
    max-width: 600px;
    margin: auto;

    a {
        color: $secondary;
    }
}

// Anterior
// .footer-main-container {
//     display: flex;
//     flex-wrap: wrap;
//     place-content: center
// }

// .suscribe-form {
//     width: 30em;
//     height: 439px;
//     margin: unset;
//     border: unset;
// }

// .element-footer {
//     margin: 10px 7vw;
//     padding: 10px;
// }

// .shield-footer {
//     width: 10em;
// }

// .social-icon-footer {
//     width: 5em;
// }

// .modal-title-footer {
//     color: black;
// }
